h1
{
    padding: 20px;
    text-align: center;
}
.content
{
    display: flex;
}

.card
{
    width: 23%;
    margin: 1%;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid rgba(128, 128, 128, 0.493);
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: space-between;  */
}

button
{
    padding:10px 20px;
    margin-top: 50px;
    border: 0px solid black;
    background-color: rgb(230, 31, 124);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}